@import "../../utils/variables.scss";

.footer {
    height: 4rem;
    background-color: $mov;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    .logo {
        height: 3rem;
    }
    .by {
        color: white;
        text-decoration: none;
    }
    .admin {
        color: white;
        text-decoration: none;
        display: none;

        @media (min-width: 639px) {
            display: block;
        }
    }
}
