@import "../../utils/variables.scss";

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: $white;
    min-height: 100vh;

    .page {
        margin-bottom: auto;
        flex: 1;
        display: flex;
        flex-direction: column;
    }
}
