$green: #007d7e;
$green-hover: #005b5e;
$border-color: #c8c8c8;
$mov: #2e1f5e;
$white: #f6f6f8;
$background-component: rgba(255, 255, 255, 0.5);
$shadow-component: 0px 2px 7px 0px rgba(0, 0, 0, 0.11);
