@import "../utils/variables.scss";
.container {
    display: flex;
    height: 100vh;
    width: 100vw;
    max-height: 100vh;
    overflow-y: hidden;

    @media (min-width: 800px) {
        max-height: 100vh;
    }
    .page {
        width: 100%;
        overflow-y: auto;
        overflow-x: hidden;
    }
}
